ユーザー名とパスワードを入力してください。<br><br>

<form action="/auth" method="post">
  ユーザー名: <input type="text" name="uname" size="40" maxlength="20"><br>
  パスワード: <input type ="password" name="pass" size ="40" maxlength="30">
  <input type="submit" value="ログイン">
</form>
